@font-face{
    font-family: "Azonix";
    src: url(Azonix-1VB0.otf);
}

body {
    background-image: url("fondo.jpg"); 
}

.case{
    text-align: center;
    padding-top: 10px;
    float: center;
    background-color: rgb(124, 115, 115) ;
    margin-left: 700px;
    margin-right: 700px;
    border-radius: 25px;
    width: 505px;
    height: 650px
   
}

#display{
    font-family: "Azonix";
    font-size: 25px;
    padding: 25px;
    border-radius: 14px;
    text-align: center;
    margin-left: 60px;
    margin-top: 50px;
    padding-top:65px;
    width: 339px;
    height: 65px;
    text-shadow:1px 1px grey;
    background-color: white;
}

h2{
    font-family: "Azonix";
    text-align: center;
    font-size: 65px;
}

#delete{
    font-family: "Azonix";
    border-radius: 15px;
    background-color: rgb(138, 9, 9);
    color: white;
    font-size: 30px;
    margin-right: 5px;
    margin-left: 5px;
    padding-top: 13px;
    padding-bottom: 10px;
    
}

#clear{
    font-family: "Azonix";
    border-radius: 15px;
    background-color: rgb(138, 9, 9);
    font-size: 30px;
    color: white;
    margin-right: 5px;
    margin-left: 5px;
    padding-top: 13px;
    padding-bottom: 10px;
}

.number{
    font-family: "Azonix";
    border-radius: 15px;
    background-color: rgb(57, 62, 90);
    color: white;
    font-size: 40px;
    width: 60px;
    height: 60px;
    margin: 10px;
    
}
.operator{
    font-family: "Azonix";
    border-radius: 15px;
    background-color: rgb(57, 62, 90);
    color: white;
    font-size: 40px;
    width: 60px;
    height: 60px;
    margin: 7px;
}
#equal{
    font-family: "Azonix";
    border-radius: 15px;
    background-color: rgb(57, 62, 90);
    color: white;
    font-size: 40px;
    margin: 7px;
    width: 60px;
    height: 60px;
}
#dot{
    font-family: "Azonix";
    border-radius: 15px;
    background-color: rgb(57, 62, 90);
    color: white;
    font-size: 40px;
    margin: 10px;
    width: 60px;
    height: 60px;
}


.keys{
    border-radius: 18px;
    padding: 45px 13px 30px 30px;
    margin: 25px;
    }
